<div>
  <h2>Create A New Event</h2>
  <form action="/create" method="POST">
     <label>Event Name: <input type="text" name="event_name"></label>
     <label>Event Location: <input type="text" name="event_location"></label>
     <label>Date: <input type="text" name="date" placeholder="Example: 30 September 2013"></label>
     <label>Starts At: <input type="text" name="starts_at" placeholder="Example: 4:00 pm"></label>
     <label>Ends At: <input type="text" name="ends_at" placeholder="Example: 8:00 pm"></label>
     <br>
     <input type="submit" value="Create Event">
  </form>
</div>