<div id="signup" class="column">
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
       <label>Email: <input type="text" name="email"></label>
       <label>Password: <input type="password" name="password"></label>
       <br>
       <input type="submit" value="Create account">
    </form>

  </div>

  <div id="login" class="column">
    <h2>Log in</h2>
      <form action="/login" method="POST">
      <label>Email: <input type="text" name="email"></input></label>
      <label>Password: <input type="password" name="password"></label>
      <br>
      <input type="submit" value="Log in">
    </form>
  </div>